*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  --background-color-one: lightblue;
  --background-color-two: pink;
  --background-color-three: white;
  --selection-color: orchid;
  --link-color: darkviolet;
  --page-background-color: white;
  --page-text-color: black;
}

body {
  margin: 0;
}

*::selection {
  background-color: var(--background-color-one);
  color: var(--selection-color);
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-header {
  text-align: center;
  background-image: linear-gradient(
    var(--background-color-one),
    var(--background-color-two),
    var(--background-color-three)
  );
  padding: 2em;
  position: relative;
}

.site-header:hover #badge {
  transform: translate(-100%, 50%);
}

#title {
  font-size: 4rem;
}

#main-heading {
  font-size: 1em;
}

#profession {
  font-size: 0.25em;
}

#profession::after {
  content: "🐈‍";
}

#badge {
  background-color: var(--selection-color);
  border: 2px solid var(--link-color);
  padding: 0.25em;
  position: absolute;
  top: 2em;
  right: 1em;
  transition: transform 2s;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

nav > a {
  margin: 2px;
  text-decoration: none;
  background-color: var(--background-color-two);
  transition: background-color 1s;
}

nav > a:hover {
  background-color: var(--page-background-color);
}

nav > a:focus {
  background-color: var(--background-color-two);
  border: solid var(--selection-color);
}

.article-heading {
  position: relative;
  left: -2rem;
}

article {
  padding: 0 2rem;
}

.site-main {
  margin: 0 auto;
  max-width: 70ch;
}

a + a {
  margin-left: 1rem;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--selection-color);
}

a:active {
  font-weight: bold;
}

article + article {
  margin-top: 1rem;
  border-top: solid var(--background-color-two);
}

.main-header {
  display: flex;
  flex-direction: column;
}

.exp-heading,
.exp-subheading {
  display: inline-block;
}
footer {
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
    var(--background-color-three),
    var(--background-color-two),
    var(--background-color-one)
  );
}

@media print {
  nav {
    display: none;
  }
  #badge {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  article + article {
    margin-top: 3rem;
  }
  * {
    font-size: 22px;
  }
  nav {
    flex-direction: row;
    justify-content: center;
  }
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  * {
    font-size: 24px;
  }
  #badge {
    position: fixed;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}
