* {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

body {
  margin: 0;
}

::selection {
  background-color: wheat;
  color: orchid;
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-header {
  text-align: center;
  background-color: bisque;
  padding: 2em;
}

#title {
  font-size: 4rem;
}

#main-heading {
  font-size: 1em;
}

#profession {
  font-size: 0.25em;
}

#profession::after {
  content: "🐈‍";
}

#hire-aside {
  background-color: orchid;
  border: 2px solid darkviolet;
  padding: 0.25em;
  margin: 0.5em;
  position: absolute;
  top: 0;
  right: 0;
}

.article-heading {
  position: relative;
  left: -2em;
}

.site-main {
  margin: 0 auto;
  max-width: 75ch;
}

a + a {
  margin-left: 1rem;
}

a {
  color: darkviolet;
}

a:hover {
  color: fuchsia;
}

a:active {
  font-weight: bold;
}

article + article {
  margin-top: 1rem;
  border-top: solid blanchedalmond;
}

.exp-heading,
.exp-subheading {
  display: inline-block;
}
