* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  text-align: center;
  background-color: bisque;
  padding: 40px 20px;
}

.main {
  padding: 32px 50px;
  margin: 0 auto;
  max-width: 800px;
}
